@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --couleur-principale: #EA7024;
    --couleur-secondaire: #0D0F21;
    --couleur-blanc: #ffffff;
    --couleur-blanc-opacite-50: rgba(255, 255, 255, 0.5);
    --couleur-blanc-opacite-30: rgba(255, 255, 255, 0.3);
    --espacement-wrapper: 0 8vw;
    --police-titre: 'Archivo Black', sans-serif;
    --police-texte: 'Lato', sans-serif;
  }

.wrapper {
  padding: var(--espacement-wrapper);
}

/*  https://type-scale.com/*/

h2{
  font-size: 2rem; 
}

/* Titre mobile */

@media screen and (max-width: 880px){
  h2{
    font-size: 1.5rem; 
  }
  
}
